<svg
  class="absolute top-0 opacity-75 -translate-y-[25%] left-0 right-auto w-full h-full z-0 overflow-hidden"
  viewBox="0 0 1000 300"
  preserveAspectRatio="none"
>
  <defs>
    <path
      id="textPathCurve"
      d="M -15 200
    C 95 300, 195 300, 205 200
    C 195 100, 100 100, 95 205
    C 95 300, 300 300, 400 205
    C 495 100, 700 105, 1005 205"
      fill="none"
    />
  </defs>

  <path
    d="M -10 200
  C 100 300, 200 300, 200 200
  C 200 100, 100 100, 100 200
  C 100 300, 300 300, 400 200
  C 500 100, 700 100, 1005 200"
    stroke="#FFAD94"
    stroke-width="15"
    fill="none"
  />
  <!-- Text on wave path -->
  <text font-size="10" fill="#ae2b7c" font-weight="600" text-anchor="end">
    <textPath href="#textPathCurve" startOffset="100%" class="absolute right-0 w-full tracking-[1.11em] flex items-end h-full">
      Discover how our student has transformed their lives through our
      classes. Read their stories.
    </textPath>
  </text>
</svg>
