<!-- <svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="50"
  height="50"
  id="pen"
  class="rounded-full"
>
  <defs>
    <linearGradient id="a">
      <stop offset="0" stop-color="#F5E8D8"></stop>
      <stop offset="1" stop-color="#85c1e9"></stop>
    </linearGradient>
    <linearGradient
      xlink:href="#a"
      id="b"
      x1="1073.403"
      x2="1097.116"
      y1="516.451"
      y2="544.308"
      gradientTransform="translate(-860.18 618.335)scale(.80097)"
      gradientUnits="userSpaceOnUse"
    ></linearGradient>
  </defs>
  <g transform="scale(2)">
    <g fill="#193cb8" transform="translate(3.996 -1031.366)">
      <rect
        width="25"
        height="25"
        x="-3.996"
        y="1031.366"
        fill="url(#b)"
        rx="5.283"
        ry="5.283"
      ></rect>
      <path
        d="M16.25 5.625a.5.5 0 0 0-.344.281L14.97 7.75 7 12.063V19h.5l6.469.031 4.219-7.843a.5.5 0 0 0 .156-.063l1.812-1a.5.5 0 0 0 .094-.813l-3.531-3.53a.5.5 0 0 0-.375-.157.5.5 0 0 0-.094 0zm.25 1.344 2.594 2.593-.907.5L16 7.906l.5-.937zM6 7v1h5.031V7H6zm9.344 1.656 2 2L13.375 18H8.719l2.375-2.344a1.48 1.48 0 0 0 1.687-.281 1.512 1.512 0 0 0 0-2.125 1.512 1.512 0 0 0-2.125 0 1.482 1.482 0 0 0-.281 1.688L8 17.343v-4.688l7.344-4zm-3.625 5.156c.127 0 .275.026.375.126.2.199.2.519 0 .718-.2.2-.52.2-.719 0-.2-.2-.2-.519 0-.719.1-.1.217-.124.344-.124z"
        color="#8e44ad"
        font-family="sans-serif"
        font-weight="400"
        overflow="visible"
        style="
          text-indent: 0;
          text-align: start;
          line-height: normal;
          text-transform: none;
          blockprogression: tb;
        "
        transform="translate(-3.996 1031.366)"
      ></path>
    </g>
  </g>
</svg> -->

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="pen" class="scale-[2]">
  <g transform="translate(-377.605 -642.194)">
    <path
      fill="none"
      d="m380.088 656.688.007-6.14 7.949-4.317 2.513 2.512-4.29 7.95z"
    ></path>
    <path
      fill="none"
      stroke="#193cb8"
      d="m380.088 656.688.007-6.14 7.949-4.317 2.513 2.512-4.29 7.95z"
    ></path>
    <path
      fill="none"
      stroke="#193cb8"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m390.689 648.865-2.69-2.689.953-1.868 3.549 3.549z"
    ></path>
    <path fill="none" stroke="#193cb8" d="m380.462 656.348 3.233-3.233"></path>
    <circle
      cx="-733.136"
      cy="-189.616"
      r="1"
      fill="none"
      stroke="#193cb8"
      stroke-linecap="round"
      transform="rotate(-135)"
    ></circle>
    <path
      fill="none"
      stroke="#193cb8"
      d="M381.105 643.17v5.022m2.511-2.512h-5.011"
    ></path>
  </g>
</svg>
