@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 30rem;
}


:root {
  --background: #EEEEEE;
  --text: #222;
}

body.dark {
  --background: #222831;
  --text: #fafafa;
}

body {
  background: var(--background);
  color: var(--text);
  transition: background 0.5s, color 0.3s;
  font-family: 'Inter', sans-serif;
}

/* .display{
  font-family: 'Playfair Display', serif;
  line-height: 1.2;
}

.mono{
  font-family: 'JetBrains Mono', monospace;
}

.hand{
  font-family: 'Caveat', cursive;
}

.inter{
  font-family: 'Inter', sans-serif;
}

.sans{
  font-family: 'DM Sans', sans-serif;
} */

/* p, label, input{
  font-family: 'Inter', sans-serif;
} */

/* a{
  font-family: 'DM Sans', sans-serif;
} */

body.dark #title .ql-editor::before {
  color: #39c2c9 !important; /* Tailwind's blue-200 */
  font-family: 'Inter', serif !important;
}

body.dark #quillContentEditor .ql-editor::before {
  color: #39c2c9 !important; /* Tailwind's blue-200 */
  font-family: 'Inter', serif !important;
}

body.dark #title .ql-editor {
  border-bottom: 2px solid #d1d5dc40 !important;
}

body.dark .ql-toolbar svg path {
  stroke :#EEEEEE !important;
}

body.dark .ql-toolbar svg line {
  stroke :#EEEEEE !important;
}

body.dark .ql-toolbar svg {
  stroke :#EEEEEE !important;
}

body.dark .ql-toolbar svg polyline {
  stroke :#EEEEEE !important;
}

body.dark .ql-toolbar svg polygon {
  stroke :#EEEEEE !important;
}

body.dark .ql-picker-label::before {
  color :#bbbbbb !important;
}

body.dark .ql-toolbar svg rect {
  stroke :#bbbbbb !important;
}

body.dark #quillContentEditor .ql-toolbar {
  background: #222831 !important;
  border-color: #444 !important;
}