<main class="my-20 relative">
  <section
    class="min-h-[600px] mt-[10%] h-fit w-full flex gap-8 flex-col justify-center items-center relative"
  >
    <div
      class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 flex h-[500px] w-full flex-col items-center justify-center overflow-hidden"
    >
      <app-orbiting-circles [iconSize]="40" [radius]="225" [speed]="5">
        <div #icon><app-book-icon></app-book-icon></div>
        <div #icon><app-emailicon></app-emailicon></div>
        <div #icon><app-book-icon></app-book-icon></div>
        <div #icon><app-people-icon></app-people-icon></div>
        <div #icon><app-book-icon></app-book-icon></div>
        <div #icon><app-emailicon></app-emailicon></div>
        <div #icon><app-book-icon></app-book-icon></div>
        <div #icon><app-people-icon></app-people-icon></div>
      </app-orbiting-circles>

      <app-orbiting-circles
        [iconSize]="30"
        [radius]="500"
        [reverse]="true"
        [speed]="8"
      >
        <div #icon><app-book-icon></app-book-icon></div>
        <div #icon><app-people-icon></app-people-icon></div>
        <div #icon><app-emailicon></app-emailicon></div>
        <div #icon><app-book-icon></app-book-icon></div>
        <div #icon><app-people-icon></app-people-icon></div>
        <div #icon><app-emailicon></app-emailicon></div>
        <div #icon><app-book-icon></app-book-icon></div>
        <div #icon><app-people-icon></app-people-icon></div>
        <div #icon><app-emailicon></app-emailicon></div>
        <div #icon><app-book-icon></app-book-icon></div>
        <div #icon><app-people-icon></app-people-icon></div>
        <div #icon><app-emailicon></app-emailicon></div>
      </app-orbiting-circles>
    </div>
    <div
      class="p-3 scale-[1.75] shadow-[2px_2px_15px_#1e1e1e80] dark:shadow-[2px_2px_15px_#F5E8D880] m-5 w-fit dark:bg-[#1eeeee]/60 bg-[#ccccce]/80 rounded-2xl"
    >
      <app-logo-icon></app-logo-icon>
    </div>
    <h1
      class="inter font-bold text-7xl bg-gradient-to-r brightness-110 from-[#00ADB5] to-[#FF6F61] relative z-40 bg-clip-text text-transparent"
    >
      Scribble your thoughts
    </h1>
    <p
      class="display font-semibold text-5xl bg-gradient-to-b from-gray-200 to-gray-500 relative z-40 bg-clip-text text-transparent"
    >
      Sketch your stories
    </p>
  </section>
  <div class="text-center">
    <a
      href="/blogs"
      class="inline-block mb-[6%] bg-[#1e1e1e] text-white dark:bg-[#eeeeee] dark:text-black font-semibold px-6 py-3 rounded-xl hover:opacity-90 transition"
    >
      Explore More Stories <span class="text-xl font-bold pl-1">→</span>
    </a>
  </div>
  <section
    class="min-h-[500px] flex mb-[8%] relative"
    style="
      background: linear-gradient(
        to bottom,
        transparent 0%,
        #ff6f6140 25%,
        #ff6f6140 75%,
        transparent 100%
      );
    "
  >
    <app-wave-line></app-wave-line>
    <!-- <div class="w-1/2 flex flex-col relative z-20 items-center justify-center">
      <h3 class="text-6xl font-semibold hand text-center">
        View Some Of Our Pages
      </h3>
      <p></p>
    </div> -->
    <div class="w-full flex flex-col relative z-20 items-center justify-center">
      <h2 class="text-6xl hand font-bold mb-4">Start Your Scribble Journey Today</h2>
      <p class="text-gray-600 dark:text-gray-300/80 mb-6 tracking-tight mono">
        Unleash your thoughts, connect with readers, and make your mark.
      </p>
      <a
        href="/register"
        class="px-6 py-3 bg-black text-white rounded-full hover:bg-gray-800 transition"
      >
        Create Your Story
      </a>
    </div>
  </section>
  <h3 class="text-5xl font-bold pl-[1%] mono">
    Read What Others Are Saying About Us :
  </h3>
  <section class="relative">
    <app-marquee [items]="firstRow"></app-marquee>
    <app-marquee [items]="secondRow" [reverse]="true"></app-marquee>
    <div
      class="pointer-events-none h-full absolute inset-y-0 left-0 w-1/2 bg-gradient-to-r from-[#EEEEEE]/80 dark:from-[#222831]/80 to-transparent to-40%"
    ></div>
    <div
      class="pointer-events-none absolute inset-y-0 right-0 w-1/2 bg-gradient-to-l from-[#EEEEEE]/80 dark:from-[#222831]/80 to-45% to-transparent"
    ></div>
  </section>
</main>
